.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__header_margin {
  margin-top: 60px;
}
.company-block {
  flex-direction: column;
}
.nav_margin {
  margin-bottom: 35px;
}
.nav__list_gap {
  gap: 55px;
}
.nav__item {
  color: #2f2f51;

  padding: 7px 25px;

  width: 130px;
  height: 40px;

  background: transparent;
  border-radius: 3px;

  display: ruby;
}
.nav__item_active {
  background: #ef7f04;

  color: #ffffff;
}
.slide {
  background: #ffffff;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  height: 23.6vw;
}
.slide__img {
  max-width: 30vw;

  padding: 2.6vw 0 0 2.6vw;
}
.slide__img-2 {
  width: 30vw;
}
.slide_column {
  display: flex;
  align-items: flex-end;

  height: 100%;

}

.slide__description {
  min-width: 16vw;
  max-width: 40vw;

  margin: 0 2.7vw 3.2vw 0;
}
.about__block {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
.about__block_margin {
  margin: 40px 0 0 0;
}
.about__btn {
  margin: 80px 0;

  width: 310px;
  height: 55px;

  background: #ef7f1a;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.btn__icon {
  margin-right: 20px;
}
.advantages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.advantages__item {
  display: flex;
  align-items: center;
}
.advantages__icon {
  margin: 20px;
}
.advantages_column {
  display: flex;
  flex-direction: column;

  width: 215px;
}

.advantages__header {
  font-weight: 700;
  font-size: 16px;

  color: #2f2f51;
}
.advantages__header_margin {
  margin-bottom: 24px;
}
.advantages__description {
  font-weight: 400;
  font-size: 16px;
}
