#menu__toggle {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
.wrapper-navigation {
  display: flex;
  align-items: center;
}
.wrapper-navigation_margin {
  margin-left: 56px;
}
.btn_margin {
  margin-right: 56px;
}
.navigation-button__btn {
  display: flex;
  align-items: center;
  position: relative;
  /*top: 15px;
  left: 56px;*/
  width: 56px;
  height: 35px;
  cursor: pointer;
  z-index: 1;
}
.navigation-button__btn > span,
.navigation-button__btn > span::before,
.navigation-button__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #EF7F1A;
}
.navigation-button__btn > span::before {
  content: '';
  top: -17px;
}
.navigation-button__btn > span::after {
  content: '';
  top: 17px;
}

.navigation-block {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 63px;
  left: 0px;
  width: 50px;
  height: 100px;

  background: #ffffff;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#menu__toggle:checked ~ .navigation-button__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .navigation-button__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .navigation-button__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked .navigation-block {
  visibility: visible;
  left: 0;
}

.header__icon {
  margin-left: 45px;
}
}
.header {
  width: 100%;
  max-width: 1200px;
}
.header_margin {
  margin: 26px 0 30px 0;
}
.navigation-block_margin {
  margin: 0 0.5vw;
}
.nav-list {
  display: flex;
  align-items: center;

  list-style: none;
}
.nav-list_gap {
  gap: 1.5vw;
}
.nav-list__item {
  display: ruby;
}
.nav-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #000000;
}
.nav-list__link_active {
  color: #ef7f04;
  position: relative;
  display: block;
}
.nav-list__link_active::after {
  content: "";

  position: absolute;
  bottom: 37px;
  left: 0;

  width: 100%;
  height: 4px;

  background: #ef7f04;
}
.btn {
  display: flex;
  gap: 14px;
}
.btn__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 172px;
  height: 40px;

  border-radius: 3px;
  border: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  
  background: #ef7f04;

  color: #ffffff;
}
.btn__icon_margin {
  margin: 10px;
}
.btn__item:hover {
  background: #3b3a63;
}
