body {
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1920px;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  margin: 40px 0;

  color: #2F2F51;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  color: #2F2F51;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #2F2F51;
}

main {
  width: 63%;
}


@media (min-width: 1020px) and (max-width: 1600px) {
  main {
    width: 100%;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {
  main {
    width: 75%;
  }
}
